/* TODO: Have your plugin's CSS files generated to here. */
#tab_plugin_c3dprinteros iframe {
  width: 100%;
  height: 600px;
  border: 1px solid red;
}

#plugin_c3dprinteros_registration h3 strong {
  color: blue;
}
